/**
 * Default Look and Feel
 */
.alertify,
.alertify-log {
	font-family: Verdana;
}
.alertify {
	background-color: rgb(170, 0, 0);
	border: solid 0.15em rgb(255,150,0);
	border-radius: 0px;
	line-height: 2em;
	font-family: Verdana;
	color: rgb(255,150,0);
	box-shadow: 0 3px 3px rgba(0,0,0,.3);
	-webkit-background-clip: padding;     /* Safari 4? Chrome 6? */
	   -moz-background-clip: padding;     /* Firefox 3.6 */
	        background-clip: padding-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */
}
	.alertify-text {
		border: solid 0.1em rgb(255,150,0);
		padding: 0.25em;
		background-color: rgb(150,0,0);
		color: rgb(255,150,0);
	}
	.alertify-button {
		border-radius: 0px;
		color: rgb(255,150,0);
		font-weight: bold;
		padding: 6px 15px;
		text-decoration: none;

		background-color: rgb(127,0,0);
		/*background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
		background-image:    -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
		background-image:     -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
		background-image:      -o-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
		background-image:         linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));*/
	}
	.alertify-button:hover,
	.alertify-button:focus {
		background-color: rgb(100,0,0);
		outline: none;
		/*background-image: -webkit-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
		background-image:    -moz-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
		background-image:     -ms-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
		background-image:      -o-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
		background-image:         linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));*/
	}
	.alertify-button:focus {
		box-shadow: 0 0 5px rgb(255,150,0);
	}
	.alertify-button:active {
		background-color: rgb(82,0,0);
		position: relative;
	}

.alertify-log {
	background: rgb(150,0,0);
	padding: 0.5em;
	border: solid 0.1em rgb(255,150,0);
	color: rgb(255,150,0);
}
	.alertify-log-error {
		background: #FE1A00;
		background: rgba(254,26,0,.9);
	}
	.alertify-log-success {
		background: #5CB811;
		background: rgba(92,184,17,.9);
	}