body {
   background: url(/gfx/back.jpg) fixed no-repeat bottom center;
   background-color: rgb(35,31,32);
   background-size: 100% auto;
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

input {
   border: solid 0.1em rgb(255,150,0);
   padding: 0.25em;
   background-color: rgb(150,0,0);
   color: rgb(255,150,0);
}

input:focus,
textarea:focus {
    outline: none;
}

img {
   user-drag: none; 
   -moz-user-select: none;
   -webkit-user-drag: none;
}

#preloader {
   z-index: 2;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgb(25,25,25);
}

#play-container {
   width: 100%; 
   position: fixed; 
   z-index: 1;
   top: -3.5em;
}

#play-bar {
   margin: 0 auto;
   z-index: 100;
   width: 62.5em;
   height: 3.5em;
   /*border-bottom: solid 3px rgb(35,31,32);*/
   background-color: rgb(170, 0, 0);
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   -webkit-box-shadow: 0px 0px 10px 2px BLACK;
   -moz-box-shadow:    0px 0px 10px 2px BLACK;
   box-shadow:         0px 0px 10px 2px BLACK;
}

#tracks-list {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   -webkit-box-shadow: 0px 0px 10px 1px BLACK;
   -moz-box-shadow:    0px 0px 10px 1px BLACK;
   box-shadow:         0px 0px 10px 1px BLACK;
}

#credentials-container {
   -webkit-box-shadow: 0px 1px 5px 1px BLACK;
   -moz-box-shadow:    0px 1px 5px 1px BLACK;
   box-shadow:         0px 1px 5px 1px BLACK;
}

.button-play {
   cursor: pointer;
   width: 3.5em;
   height: 3.5em;
   background:url(../gfx/button_play.png);
   background-color: rgb(127,0,0);
   background-size: 100% 100%;
}

   .button-play:hover {
      background-color: rgb(168,41,41);
      background-size: 100% 100%;
   }

   .button-play:active {
      background-color: rgb(82,0,0);
      background-size: 100% 100%;
   }

.button-pause {
   cursor: pointer;
   width: 3.5em;
   height: 3.5em;
   background:url(../gfx/button_pause.png);
   background-color: rgb(127,0,0);
   background-size: 100% 100%;
}

   .button-pause:hover {
      background-color: rgb(168,41,41);
      background-size: 100% 100%;
   }

   .button-pause:active {
      background-color: rgb(82,0,0);
      background-size: 100% 100%;
   }

/* Common button */
.button-common {
   min-width: 1.75em;
   height: 1.75em;
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
   color: rgb(255,150,0);
   background-color: rgb(127,0,0);
   cursor: pointer;
   text-align: center;
   line-height: 1.75em;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.button-common:hover {
   background-color: rgb(168,41,41);
}

.button-common:active {
   background-color: rgb(82,0,0);
}
/* End of common button */

.floatleft {
   float: left;
}

.track-text {
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
   color: rgb(255,150,0);
}

.progress-container {
   width: 100%;
   min-width: 15em;
   height: 1em;

   border: solid 0.15em rgb(255,150,0);

   cursor: pointer;
}

.progress-current-time {
   position: relative;
   top: -1em;
   height: 1em;
   background-color: rgb(0,155,200);
}

.progress-current-load {
   position: relative;
   height: 1em;
   background-color: rgb(137,0,9);
}

.volume-container {
   width: 5em;
   height: 1em;

   border: solid 0.15em rgb(255,150,0);

   cursor: pointer;
}

.block-regular {
   background-color: rgb(170,0,0);
}

.volume-volume {
   height: 1em;
   background-color: rgb(0,155,200);
}

#content {
   width: 100%;
   height: 100%;
   position: relative;
   top: 3.8em;
}

#ads {
   width: 15em;
   border: solid 1px;
}

#tracklist {
   width: 100%;
   min-width: 35em;
}

#right-bar {
   width: 20em;
   position: absolute;
   top: 20em;
}

#login {
   width: 19.5em;
   padding: 0.25em;
   background-color: rgb(170,0,0);
}

.text-regular {
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
   color: rgb(255,150,0);
}

.button-login-related {
   width: 7.5em;
   position: relative;
   left: 1.5em;
}

#admin-stats {
   width: 12em;
   text-align: center;
   line-height: 1.5em;
   background-color: rgb(170,0,0);
}

#users-list {
   width: 50em;
   line-height: 1.5em;
   background-color: rgb(170,0,0);
}

#invites-list {
   width: 50em;
   line-height: 1.5em;
   background-color: rgb(170,0,0);
}

#tracks-list {
   padding: 0.25em;
   line-height: 1.5em;
   background-color: rgb(170,0,0);
}

.list-tr tr {
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
   padding-left: 5em;
   font-size: 13px;
}

.list-tr tr:nth-child(even) {
   background: rgb(180,0,0)
}

.list-tr tr:nth-child(odd) {
   background: rgb(160,0,0)
}

.list-tr tr:hover {
   background: rgb(100,0,0);
}

.list-track tr {
   cursor: pointer;
}

.button-play-small {
   position: relative;
   cursor: pointer;
   top: 0.3em;
   left: 0.25em;
   width: 1.75em;
   height: 1.75em;
   background:url(../gfx/button_play.png);
   background-color: rgb(127,0,0);
   background-size: 100% 100%;
}

   .button-play-small:hover {
      background-color: rgb(168,41,41);
      background-size: 100% 100%;
   }

   .button-play-small:active {
      background-color: rgb(82,0,0);
      background-size: 100% 100%;
}

.button-pause-small {
   position: relative;
   cursor: pointer;
   top: 0.3em;
   left: 0.25em;
   width: 1.75em;
   height: 1.75em;
   background:url(../gfx/button_pause.png);
   background-color: rgb(127,0,0);
   background-size: 100% 100%;
}

   .button-pause-small:hover {
      background-color: rgb(168,41,41);
      background-size: 100% 100%;
   }

   .button-pause-small:active {
      background-color: rgb(82,0,0);
      background-size: 100% 100%;
   }

.track-title {
   position: relative; 
   height: 1.5em;
   top: -0.1em; 
   left: 0.5em;
}

.track-title:hover {
   text-decoration: underline;
}

.player-mode {
   width: 3.5em;
   height: 3.5em;
   background-color: rgb(127,0,0);
   cursor: pointer;
}

.player-mode:hover {
   background-color: rgb(168,41,41);
}

.player-mode-enabled {
   width: 3.5em;
   height: 3.5em;
   background-color: rgb(205,90,0);
   cursor: auto;
}

#audio-list {
   padding: 0.5em;
   background-color: rgb(170,0,0);
   width: 19em;
   min-height: 5em;
   -webkit-box-shadow: 0px 1px 5px 1px BLACK;
   -moz-box-shadow:    0px 1px 5px 1px BLACK;
   box-shadow:         0px 1px 5px 1px BLACK;
}

#footer-container {
   overflow: hidden;
}

#footer {
   position: relative;
   width: 47.0em;
   z-index: -1;
   top: -0.5em;
   left: 2em;

   margin-top: 0.25em;
   padding: 1em;
   background-color: rgb(125,0,0);
   height: 8em;
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
   color: rgb(205,100,100);
   font-size: 0.75em;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   -webkit-box-shadow: 0px 2px 10px 1px BLACK;
   -moz-box-shadow:    0px 2px 10px 1px BLACK;
   box-shadow:         0px 2px 10px 1px BLACK;
}