body {
   background: url(/gfx/back-green.jpg) fixed no-repeat bottom center;
   background-color: rgb(221,255,201);
   background-size: 100% auto;
}

input {
   border: solid 0.1em rgb(0,25,0);
   background-color: rgb(159,181,116);
   color: rgb(0,25,0);
}

#play-bar {
   background-color: rgb(139,161,96);
}

.button-play {
   background-color: rgb(45,39,46);
}

   .button-play:hover {
      background-color: rgb(85,100,98);
   }

   .button-play:active {
      background-color: rgb(85,100,98);
   }

.button-pause {
   background-color: rgb(45,39,46);
}

   .button-pause:hover {
      background-color: rgb(85,100,98);
   }

   .button-pause:active {
      background-color: rgb(85,100,98);
   }

.button-common {
   color: rgb(196,217,185);
   background-color: rgb(45,39,46);
   border-radius: 4px;
}

   .button-common:hover {
      background-color: rgb(85,100,98);
   }

   .button-common:active {
      background-color: rgb(85,100,98);
   }

.track-text {
   color: rgb(0,25,0);
}

.progress-container {
   border: solid 0.15em rgb(0,25,0);
}

.progress-current-time {
   background-color: rgb(85,100,98);
}

.progress-current-load {
   background-color: rgb(159,181,116);
}

.volume-container {
   border: solid 0.15em rgb(0,25,0);
}

.block-regular {
   background-color: rgb(139,161,96);
}

.volume-volume {
   background-color: rgb(85,100,98);
}

#login {
   background-color: rgb(139,161,96);
}

.text-regular {
   color: rgb(0,25,0);
}

#admin-stats {
   background-color: rgb(139,161,96);
}

#users-list {
   background-color: rgb(139,161,96);
}

#invites-list {
   background-color: rgb(139,161,96);
}

#tracks-list {
   background-color: rgb(139,161,96);
}

.list-tr tr {
   color: black;
   /*font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;*/
}

.list-tr tr:nth-child(even) {
   background: rgb(156,181,108)
}

.list-tr tr:nth-child(odd) {
   background: rgb(135,165,97)
}

.list-tr tr:hover {
   background: rgb(105,125,67);
}

.button-play-small {
   background-color: rgb(45,39,46);
   border-radius: 3px;
}

   .button-play-small:hover {
      background-color: rgb(85,100,98);
   }

   .button-play-small:active {
      background-color: rgb(85,100,98);
   }

.button-pause-small {
   background-color: rgb(45,39,46);
   border-radius: 3px;
}

   .button-pause-small:hover {
      background-color: rgb(85,100,98);
   }

   .button-pause-small:active {
      background-color: rgb(85,100,98);
   }

.player-mode {
   background-color: rgb(45,39,46);
}

   .player-mode:hover {
      background-color: rgb(85,100,98);
   }

   .player-mode-enabled {
      background-color: rgb(156,181,108);
   }

#audio-list {
   background-color: rgb(139,161,96);
}

#footer {
   background-color: rgb(94,118,97);
   color: rgb(205,202,217);
}

/*------------------------------------------------------------*/
.alertify {
   background-color: rgb(139,161,96);
   border: solid 0.15em rgb(0,25,0);
   color: rgb(0,25,0);
}
   .alertify-text {
      border: solid 0.1em rgb(0,25,0);
      background-color: rgb(85,100,98);
      color: rgb(196,217,185);
   }
   .alertify-button {
      color: rgb(196,217,185);
      background-color: rgb(40,34,41);
   }
   .alertify-button:hover,
   .alertify-button:focus {
      background-color: rgb(85,100,98);
      box-shadow: none;
   }
   .alertify-button:active {
      background-color: rgb(85,100,98);
   }

.alertify-log {
   background: rgb(139,161,96);
   border: solid 0.1em rgb(0,25,0);
   color: rgb(0,25,0);
}
   .alertify-log-error {
      background: rgba(254,26,0,.9);
   }
   .alertify-log-success {
      background: rgba(92,184,17,.9);
   }

/*context menu*/
.context-menu-list {
   border: 1px solid rgb(196,217,185);
   background: #EEE;
    
   font-family: Verdana, Arial, Helvetica, sans-serif;
   color: rgb(196,217,185);
}

.context-menu-item {
   background-color: rgb(45,39,46);
}

.context-menu-separator {
   border-bottom: 1px solid rgb(196,217,185);
}

.context-menu-item.hover {
   background-color: rgb(85,100,98);
}

.context-menu-item.disabled {
   color: #666;
}

.context-menu-input.hover,
.context-menu-item.disabled.hover {
   background-color: #EEE;
}

.context-menu-submenu:after {
   color: #666;
}

/*uploader*/
.ajax-file-upload-statusbar {
   border: solid 0.1em rgb(0,25,0);
}
.ajax-file-upload-filename {
   color: rgb(196,217,185);
}
.ajax-file-upload-progress {
   border: solid 0.1em rgb(0,25,0);
}
.ajax-file-upload-bar {
   background-color: #0ba1b5;
   color: rgb(196,217,185);
}
.ajax-file-upload-red {
   background-color: rgb(45,39,46);
   color: rgb(196,217,185);
}
.ajax-file-upload-green {
   background-color: rgb(45,39,46);
   color: rgb(196,217,185);
}
.ajax-file-upload {
  background: #fff;
  color: rgb(196,217,185);
  background-color: rgb(45,39,46);
}
  
.ajax-file-upload:hover {
   background-color: rgb(85,100,98);
}
.ajax-file-upload:active {
   background-color: rgb(85,100,98);
}

.ajax-upload-dragdrop {
    border: solid 0.1em rgb(0,25,0);
    color: rgb(0,25,0);
}

.ajax-upload-dragdrop.state-hover {
    border: 2px solid #A5A5C7;
}
.ajax-file-upload-error {
    color: red;
}