body {
   background: url(/gfx/back-blue.jpg) fixed no-repeat bottom center;
   background-size: 100% 100%;
}
/*40,72,143*/
input {
   border: solid 0.1em rgb(242,236,232);
   background-color: rgb(94,131,196);
   color: rgb(242,236,232);
}

#preloader {
   background-color: rgb(25,25,25);
}

#play-bar {
   background-color: rgb(33,60,119);
}

.button-play {
   background-color: rgb(94,132,196);
}

   .button-play:hover {
      background-color: rgb(32,46,59);
   }

   .button-play:active {
      background-color: rgb(32,46,59);
   }

.button-pause {
   background-color: rgb(94,132,196);
}

   .button-pause:hover {
      background-color: rgb(32,46,59);
   }

   .button-pause:active {
      background-color: rgb(32,46,59);
   }

.button-common {
   color: rgb(242,236,232);
   background-color: rgb(94,132,196);
   border-radius: 4px;
}

   .button-common:hover {
      background-color: rgb(32,46,59);
   }

   .button-common:active {
      background-color: rgb(32,46,59);
   }

.track-text {
   color: rgb(242,236,232);
}

.progress-container {
   border: solid 0.15em rgb(242,236,232);
}

.progress-current-time {
   background-color: rgb(0,155,200);
}

.progress-current-load {
   background-color: rgb(0,102,166);
}

.volume-container {
   border: solid 0.15em rgb(242,236,232);
}

.block-regular {
   background-color: rgb(40,72,143);
}

.volume-volume {
   background-color: rgb(0,155,200);
}

#login {
   background-color: rgb(40,72,143);
}

.text-regular {
   color: rgb(242,236,232);
}

#admin-stats {
   background-color: rgb(40,72,143);
}

#users-list {
   background-color: rgb(40,72,143);
}

#invites-list {
   background-color: rgb(40,72,143);
}

#tracks-list {
   background-color: rgb(40,72,143);
}

.list-tr tr:nth-child(even) {
   background: rgb(62,87,153)
}

.list-tr tr:nth-child(odd) {
   background: rgb(40,72,133)
}

.list-tr tr:hover {
   background: rgb(32,46,59);
}

.button-play-small {
   background-color: rgb(94,132,196);
   border-radius: 3px;
}

   .button-play-small:hover {
      background-color: rgb(32,46,59);
   }

   .button-play-small:active {
      background-color: rgb(32,46,59);
   }

.button-pause-small {
   background-color: rgb(94,132,196);
   border-radius: 3px;
}

   .button-pause-small:hover {
      background-color: rgb(32,46,59);
   }

   .button-pause-small:active {
      background-color: rgb(32,46,59);
   }

.player-mode {
   background-color: rgb(94,132,196);
}

.player-mode:hover {
   background-color: rgb(32,46,59);
}

.player-mode-enabled {
   background-color: rgb(0,90,205);
}

#audio-list {
   background-color: rgb(40,72,143);
}

#footer {
   background-color: rgb(32,46,59);
   color: rgb(205,202,217);
}

/*------------------------------------------------------------*/
.alertify {
   background-color: rgb(32,46,59);
   border: solid 0.15em rgb(242,236,232);
   color: rgb(242,236,232);
}
   .alertify-text {
      border: solid 0.1em rgb(242,236,232);
      background-color: rgb(32,46,59);
      color: rgb(242,236,232);
   }
   .alertify-button {
      color: rgb(242,236,232);
      background-color: rgb(94,132,146);
   }
   .alertify-button:hover,
   .alertify-button:focus {
      background-color: rgb(40,72,143);
   }
   .alertify-button:focus {
      box-shadow: 0 0 5px rgb(242,236,232);
   }
   .alertify-button:active {
      background-color: rgb(40,72,143);
   }

.alertify-log {
   background: rgb(32,46,59);
   border: solid 0.1em rgb(242,236,232);
   color: rgb(242,236,232);
}
   .alertify-log-error {
      background: rgba(254,26,0,.9);
   }
   .alertify-log-success {
      background: rgba(92,184,17,.9);
   }

/*context menu*/
.context-menu-list {
   border: 1px solid rgb(205,202,217);
   background: #EEE;
    
   font-family: Verdana, Arial, Helvetica, sans-serif;
   color: rgb(242,236,232);
}

.context-menu-item {
   background-color: rgb(94,132,176);
}

.context-menu-separator {
   border-bottom: 1px solid rgb(205,202,217);
}

.context-menu-item.hover {
   background-color: rgb(32,46,59);
}

.context-menu-item.disabled {
   color: #666;
}

.context-menu-input.hover,
.context-menu-item.disabled.hover {
   background-color: #EEE;
}

.context-menu-submenu:after {
   color: #666;
}

/*uploader*/
.ajax-file-upload-statusbar {
   border: solid 0.1em rgb(242,236,232);
}
.ajax-file-upload-filename {
   color: rgb(242,236,232);
}
.ajax-file-upload-progress {
   border: solid 0.1em rgb(242,236,232);
}
.ajax-file-upload-bar {
   background-color: #0ba1b5;
   color: rgb(242,236,232);
}
.ajax-file-upload-red {
   background-color: rgb(94,132,196);
   color: rgb(242,236,232);
}
.ajax-file-upload-green {
   background-color: rgb(94,132,196);
   color: rgb(242,236,232);
}
.ajax-file-upload {
  background: #fff;
  color: rgb(242,236,232);
  background-color: rgb(94,132,196);
}
  
.ajax-file-upload:hover {
   background-color: rgb(32,46,59);
}
.ajax-file-upload:active {
   background-color: rgb(32,46,59);
}

.ajax-upload-dragdrop {
    border: solid 0.1em rgb(242,236,232);
    color: rgb(242,236,232);
}

.ajax-upload-dragdrop.state-hover {
    border: 2px solid #A5A5C7;
}
.ajax-file-upload-error {
    color: red;
}