body {
   background: url(/gfx/back.jpg) fixed no-repeat bottom center;
   background-size: 100% auto;
}

input {
   border: solid 0.1em rgb(255,238,173);
   background-color: rgb(89,59,110);
   color: rgb(255,238,173);
}

#play-bar {
   background-color: rgb(89,59,110);
}

.button-play {
   background-color: rgb(55,37,68);
}

   .button-play:hover {
      background-color: rgb(127,85,157);
   }

   .button-play:active {
      background-color: rgb(127,85,157);
   }

.button-pause {
   background-color: rgb(55,37,68);
}

   .button-pause:hover {
      background-color: rgb(127,85,157);
   }

   .button-pause:active {
      background-color: rgb(127,85,157);
   }

.button-common {
   color: rgb(255,238,173);
   background-color: rgb(45,39,46);
   border-radius: 4px;
}

   .button-common:hover {
      background-color: rgb(127,85,157);
   }

   .button-common:active {
      background-color: rgb(127,85,157);
   }

.track-text {
   color: rgb(255,238,173);
}

.progress-container {
   border: solid 0.15em rgb(255,238,173);
}

.progress-current-time {
   background-color: rgb(0,155,200);
}

.progress-current-load {
   background-color: rgb(70,46,86);
}

.volume-container {
   border: solid 0.15em rgb(255,238,173);
}

.block-regular {
   background-color: rgb(89,59,110);
}

.volume-volume {
   background-color: rgb(0,155,200);
}

#login {
   background-color: rgb(89,59,110);
}

.text-regular {
   color: rgb(255,238,173);
}

#admin-stats {
   background-color: rgb(89,59,110);
}

#users-list {
   background-color: rgb(89,59,110);
}

#invites-list {
   background-color: rgb(89,59,110);
}

#tracks-list {
   background-color: rgb(89,59,110);
}

.list-tr tr:nth-child(even) {
   background: rgb(109,72,135)
}

.list-tr tr:nth-child(odd) {
   background: rgb(84,56,104)
}

.list-tr tr:hover {
   background: rgb(40,34,41);
}

.button-play-small {
   background-color: rgb(45,39,46);
   border-radius: 3px;
}

   .button-play-small:hover {
      background-color: rgb(127,85,157);
   }

   .button-play-small:active {
      background-color: rgb(127,85,157);
   }

.button-pause-small {
   background-color: rgb(45,39,46);
   border-radius: 3px;
}

   .button-pause-small:hover {
      background-color: rgb(127,85,157);
   }

   .button-pause-small:active {
      background-color: rgb(127,85,157);
   }

.player-mode {
   background-color: rgb(55,37,68);
}

   .player-mode:hover {
      background-color: rgb(127,85,157);
   }

   .player-mode-enabled {
      background-color: rgb(75,54,91);
   }

#audio-list {
   background-color: rgb(89,59,110);
}

#footer {
   background-color: rgb(104,88,107);
   color: rgb(205,202,217);
}

/*------------------------------------------------------------*/
.alertify {
   background-color: rgb(89,59,110);
   border: solid 0.15em rgb(255,238,173);
   color: rgb(255,238,173);
}
   .alertify-text {
      border: solid 0.1em rgb(255,238,173);
      background-color: rgb(127,85,157);
      color: rgb(255,238,173);
   }
   .alertify-button {
      color: rgb(255,238,173);
      background-color: rgb(40,34,41);
   }
   .alertify-button:hover,
   .alertify-button:focus {
      background-color: rgb(109,79,130);
      box-shadow: none;
   }
   .alertify-button:active {
      background-color: rgb(109,79,130);
   }

.alertify-log {
   background: rgb(127,85,157);
   border: solid 0.1em rgb(255,238,173);
   color: rgb(255,238,173);
}
   .alertify-log-error {
      background: rgba(254,26,0,.9);
   }
   .alertify-log-success {
      background: rgba(92,184,17,.9);
   }

/*context menu*/
.context-menu-list {
   border: 1px solid rgb(205,202,217);
   background: #EEE;
    
   font-family: Verdana, Arial, Helvetica, sans-serif;
   color: rgb(255,238,173);
}

.context-menu-item {
   background-color: rgb(89,59,110);
}

.context-menu-separator {
   border-bottom: 1px solid rgb(205,202,217);
}

.context-menu-item.hover {
   background-color: rgb(127,85,157);
}

.context-menu-item.disabled {
   color: #666;
}

.context-menu-input.hover,
.context-menu-item.disabled.hover {
   background-color: #EEE;
}

.context-menu-submenu:after {
   color: #666;
}

/*uploader*/
.ajax-file-upload-statusbar {
   border: solid 0.1em rgb(255,238,173);
}
.ajax-file-upload-filename {
   color: rgb(255,238,173);
}
.ajax-file-upload-progress {
   border: solid 0.1em rgb(255,238,173);
}
.ajax-file-upload-bar {
   background-color: #0ba1b5;
   color: rgb(255,238,173);
}
.ajax-file-upload-red {
   background-color: rgb(45,39,46);
   color: rgb(255,238,173);
}
.ajax-file-upload-green {
   background-color: rgb(45,39,46);
   color: rgb(255,238,173);
}
.ajax-file-upload {
  background: #fff;
  color: rgb(255,238,173);
  background-color: rgb(45,39,46);
}
  
.ajax-file-upload:hover {
   background-color: rgb(127,85,157);
}
.ajax-file-upload:active {
   background-color: rgb(127,85,157);
}

.ajax-upload-dragdrop {
    border: solid 0.1em rgb(255,238,173);
    color: rgb(255,238,173);
}

.ajax-upload-dragdrop.state-hover {
    border: 2px solid #A5A5C7;
}
.ajax-file-upload-error {
    color: red;
}