.ajax-file-upload-statusbar {
border: solid 0.1em rgb(255,150,0);
margin-top: 10px;
margin-right: 10px;
margin: 5px;
padding: 5px 5px 5px 5px
}
.ajax-file-upload-filename {
width: 100%;
height: auto;
margin: 0 5px 5px 10px;
color: rgb(255,150,0);
}
.ajax-file-upload-progress {
margin: 0 10px 5px 10px;
position: relative;
width: 250px;
border: solid 0.1em rgb(255,150,0);
padding: 1px;
display: inline-block
}
.ajax-file-upload-bar {
background-color: #0ba1b5;
width: 0;
height: 20px;
color: rgb(255,150,0);
}
.ajax-file-upload-percent {
position: absolute;
display: inline-block;
top: 3px;
left: 48%
}
.ajax-file-upload-red {
background-color: rgb(127,0,0);
display: inline-block;
color: rgb(255,150,0);
font-family: arial;
font-size: 13px;
font-weight: normal;
padding: 4px 15px;
text-decoration: none;
cursor: pointer;
vertical-align: top;
margin-right:5px;
}
.ajax-file-upload-green {
background-color: rgb(127,0,0);
margin: 0;
padding: 0;
display: inline-block;
color: rgb(255,150,0);
font-family: arial;
font-size: 13px;
font-weight: normal;
padding: 4px 15px;
text-decoration: none;
cursor: pointer;
vertical-align: top;
margin-right:5px;
}
.ajax-file-upload {
	font-family: Verdana;
	font-size: 1em;
   font-weight: bold;
	padding: 15px 20px;
	cursor:pointer;
	line-height:20px;
	height:25px;
	margin:0 10px 10px 0;
  display: inline-block;
  background: #fff;
  text-decoration: none;
  padding: 6px 10px 4px 10px; 
  color: rgb(255,150,0);
  background-color: rgb(127,0,0);
  vertical-align:middle;  
  }
  
.ajax-file-upload:hover {
      background-color: rgb(168,41,41);
}
.ajax-file-upload:active {
      background-color: rgb(82,0,0);
}

.ajax-upload-dragdrop
{
    border: solid 0.1em rgb(255,150,0);
    color: rgb(255,150,0);
    text-align:left;
    vertical-align:middle;
    padding:10px 10px 0px 10px;
}

.ajax-upload-dragdrop.state-hover
{
    border: 2px solid #A5A5C7;
}
.ajax-file-upload-error {
    color: red;
}