<!doctype html>
<html>
   <head>
      <title>WeePlayer - admin controls</title>
      <link rel="stylesheet" href="css/reset.css">
      <link rel="stylesheet" href="css/main.css">
      <link rel="stylesheet" href="css/uploadfile.css">
      <link rel="stylesheet" href="css/alertify.core.css">
      <link rel="stylesheet" href="css/alertify.default.css">
      <link rel="stylesheet" href="css/jquery.contextMenu.css">
      <link rel="shortcut icon" href="favicon_logo.ico">

      <script src="js/jquery-2.1.3.min.js"></script>
      <script src="js/jquery.query-object.js"></script>
      <script src="js/jquery.ui.position.js"></script>
      <script src="js/jquery.contextMenu.js"></script>
      <script src="js/jquery.uploadfile.min.js"></script>
      <script src="js/mousetrap.min.js"></script>
      <script src="js/alertify.min.js"></script>
      <script src="soundmanager2/script/soundmanager2-nodebug-jsmin.js"></script>
      <script src="js/tempo.min.js"></script>
      <script src="js/simpleStorage.js"></script>
      <script src="js/spin.min.js"></script>

      <script src="js/admin.js"></script>
   </head>
   <body>
      <table>
         <tr>
            <td style='padding: 0.5em'>
               <div>
                  <div id='admin-stats' data-template>
                     <div class='text-regular'>Service status</div>
                     <div class='text-regular'>Total users: {{totalUsers}}</div>
                     <div class='text-regular'>Total tracks: {{totalTracks}}</div>
                     <div class='text-regular'>Total space: {{totalSpace}}</div>
                  </div>
               </div>
            </td>
            <td>
               <div>
                  <div id='users-list'>
                     <div class='text-regular' style='text-align: center'>Users</div>
                     <table style='width: 100%' class='list-tr'>
                        <tr>
                           <th><div class='text-regular'>E-mail</div></th>
                           <th><div class='text-regular'>Actions</div></th>
                        </tr>
                        <tr id='template-users-list' data-template>
                           <td>
                              <div class='text-regular' style='margin: auto 0.5em'>{{email}}</div>
                              <div style='height: 0.5em'></div>
                           </td>
                           <td style='width: 7em'>
                              <div class='button-common' style='margin: 0.25em 0.5em;' onclick='usersTable.deleteByEmail("{{email}}")'>Delete</div>
                           </td>
                        </tr>
                     </table>
                     <div style='width: 100%; padding-bottom: 0.25em'>
                        <div style='width: 10em; margin: 0.25em auto'>
                           <div id='users-load-more' class='button-common' onclick='usersTable.nextPage()'>Load more</div>
                        </div>
                     </div>
                  </div>
               </div>
               <div style='height: 0.5em'></div>
               <div>
                  <div id='invites-list'>
                     <div class='text-regular' style='text-align: center'>Invites</div>
                     <table style='width: 100%'>
                        <tr>
                           <th><div class='text-regular'>E-mail</div></th>
                           <th><div class='text-regular'>Code phrase</div></th>
                           <th><div class='text-regular'>Actions</div></th>
                        </tr>
                        <tr class='list-tr' id='template-invites-list' data-template>
                           <td>
                              <div class='text-regular' style='margin: auto 0.5em;'>{{email}}</div>
                              <div style='height: 0.5em'></div>
                           </td>
                           <td>
                              <div class='text-regular' style='margin: auto 0.5em'>{{codePhrase}}</div>
                              <div style='height: 0.5em'></div>
                           </td>
                           <td style='width: 7em'>
                              <div class='button-common' style='margin: 0.25em 0.5em' onclick='invitesTable.deleteByEmail("{{email}}")'>Delete</div>
                           </td>
                        </tr>
                     </table>
                     <div id='invites-actions' style='width: 100%; padding-bottom: 0.25em'>
                        <table>
                           <tr>
                              <td style='width: 25em'>
                                 <div style='width: 10em; margin-left: 14.5em'>
                                    <div id='invites-load-more' class='button-common' onclick='invitesTable.nextPage()'>Load more</div>
                                 </div>
                              </td>
                              <td style=''>
                                 <div style='width: 10em; margin: 0.25em auto'>
                                    <div class='button-common' onclick='invitesTable.add()'>Add invite</div>
                                 </div>
                              </td>
                           </tr>
                        </table>
                     </div>
                  </div>
               </div>
            </td>
         </tr>
      </table>
   </body>
</html>