<!doctype html>
<html>
   <head>
      <title>WeePlayer - online audio player</title>

      <link rel="stylesheet" href="css/reset.css">
      <link rel="stylesheet" href="css/main.css">
      <link rel="stylesheet" href="css/uploadfile.css">
      <link rel="stylesheet" href="css/alertify.core.css">
      <link rel="stylesheet" href="css/alertify.default.css">
      <link rel="stylesheet" href="css/jquery.contextMenu.css">
      <link rel="stylesheet" href="css/shepherd-theme-arrows.css">
      <link id='favicon' rel="shortcut icon" href="favicon.ico">

      <script src="js/jquery-2.1.3.min.js"></script>
      <script src="js/jquery.query-object.js"></script>
      <script src="js/jquery.ui.position.js"></script>
      <script src="js/jquery.contextMenu.js"></script>
      <script src="js/jquery.uploadfile.min.js"></script>
      <script src="js/mousetrap.min.js"></script>
      <script src="js/alertify.min.js"></script>
      <script src="soundmanager2/script/soundmanager2-nodebug-jsmin.js"></script>
      <script src="js/tempo.min.js"></script>
      <script src="js/simpleStorage.js"></script>
      <script src="js/spin.min.js"></script>
      <script src="js/shepherd.min.js"></script>
      <script src="js/main.js"></script>
   </head>
   <body>
      <div id='preloader'></div>
      <!-- PLAY BAR -->
      <div id='play-container'>
         <div id='play-bar'>
            <div style='width: 3.5em; float: left;'>
               <div id='play' class='button-play' onclick='togglePlay()'></div>
            </div>
            <div style='width: 40.5em; padding: 0.5em; float: left'>
               <div id='track-title' class='track-text' style='float: left'>Track title</div>
               <div id='duration-text' class='track-text' style='float: right'>00:00 / 00:00</div>
               <div style='height: 0.25em; clear: left'></div>
               <div id='progress-container' class='progress-container' style='clear: left;'>
                  <div id='currentLoad' class='progress-current-load'></div>
                  <div id='currentTime' class='progress-current-time'></div>
               </div>
            </div>
            <div style='width: 5em; padding: 0.5em; padding-right: 0em; float: left'>
               <div id='volume-text' class='track-text' style='margin-left: 1.5em'>100%</div>
               <div style='height: 0.25em; clear: left'></div>
               <div id='volume-container' class='volume-container'>
                  <div id='volume' class='volume-volume'></div>
               </div>
            </div>
            <div title='Mode: random track' class='player-mode' style='float: left; margin-left: 1em;' onclick='player.toggleRandom()'>
               <div id='toggle-random'>
                  <img src='gfx/button_random.png' width='100%'>
               </div>
            </div>
            <div title='Mode: repeat track' class='player-mode' style='float: left; margin-left: 0.25em;' onclick='player.toggleRepeat()'>
               <div id='toggle-repeat'>
                  <img src='gfx/button_repeat.png' width='100%'>
               </div>
            </div>
            <div title='Mode: next track' class='player-mode' style='float: left; margin-left: 0.25em;' onclick='player.toggleNext()'>
               <div id='toggle-next'>
                  <img src='gfx/button_next.png' width='100%'>
               </div>
            </div>
         </div>
      </div>

      <div id='content' style='width: 100%'>
         <div style='margin: 0 auto; width:60.5em;'>
         <!-- TRACK LIST -->
         <div style='width: 40em; float: left'>
            <div>
               <div id='tracks-list'>
                  <div style='height: 2em; padding: 0.5em' class='text-regular'>
                     Search
                     <input id='search-tracks' style='width: 30em; margin-left: 0.5em' type='text' onchange='tracksTable.search()'>
                     <div class='button-common' style='float: right; width: 7.5em' onclick='tracksTable.search()'>Search</div>
                  </div>
                  <div id='playlist-empty' class='text-regular' style='width: 100%; text-align: center'>
                     This playlist is empty<br>
                     Search tracks and add them to this playlist<br>
                     Or upload music from your computer
                  </div>
                  <table class='list-tr list-track text-regular' style='width: 100%'>
                     <tr id='template-tracks-list' id='track-row-{{_tempo.index}}' data-template>
                        <td style='padding: 0em'>
                           <div>
                              <div id='play-track-{{_tempo.index}}' class='button-play-small play-from-list' onclick='tracksTable.togglePlay("{{id}}",{{_tempo.index}})'></div>
                           </div>
                        </td>
                        <td style='width:100%'>
                           <div class='track-title' id='track-title-{{_tempo.index}}' style='width: 37em; padding-left: 0.25em' onclick='tracksTable.togglePlay("{{id}}",{{_tempo.index}})' onmouseover='tracksTable.hoverIndex = {{_tempo.index}};'>{{title}}</div>
                           <div style='height: 0.3em'></div>
                        </td>
                     </tr>
                  </table>
                  <div style='width: 100%; padding-bottom: 0.25em'>
                     <table>
                        <tr>
                           <!--<td style='width: 100%;'>
                              <div style='width: 10em; margin: 0.25em auto'>
                                 <div id='tracks-load-more' class='button-common' onclick='tracksTable.nextPage()'>Load more</div>
                              </div>
                           </td>-->
                           <td>
                              <div style='width: 10em; margin-left: 13.5em; padding-top: 0.5em'>
                                 <div id='button-upload' class='button-common' onclick='tracksTable.uploadNew()'>Upload my track</div>
                              </div>
                           </td>
                        </tr>
                        <tr id='upload'>
                           <td>
                              <div style='width: 100%'>
                                 <div style='margin-left: 3em; margin-top: 0.25em;'>
                                    <div id='fileuploader'>Upload</div>
                                 </div>
                              </div>
                           </td>
                        </tr>
                     </table>
                  </div>
               </div>
            </div>
            <!--FOOTER-->
            <div id='footer-container'>
               <div id='footer'>
                  <img src='gfx/logo.png' align='left'>
                  <div id='hotkeys' style='padding: 0.5em; width: 15em; float: left'>
                     CTRL + RIGHT -- Play next<br>
                     CTRL + LEFT -- Play previous<br>
                     CTRL + R -- Play random<br>
                     SPACE -- Play / pause<br>
                     F -- scroll to track<br>
                     W -- scroll to top<br>
                     S -- scroll to bottom<br>
                     T -- set color theme<br>
                  </div>
                  <div style='padding: 0.5em; width: 17em; float: right'>
                     © 2015 weemusic.tk<br><br><br> All information provided on weemusic.tk web site is provided for informational purposes only. Use at your own risk.
                  </div>
               </div>
            </div>
         </div>
         
         <div style='float:left; margin-left: 0.25em;'>
            <div id='right-bar'>
               <!-- CREDENTIALS CONTAINER -->
               <div id='credentials-container'>
                  <div>
                     <!--IF NOT LOGGED IN -->
                     <div id='login' data-template data-if-notlogged>
                        <table>
                           <tr>
                              <td style='padding: 0.25em;'>
                                 <div class='text-regular'>E-mail</div>
                              </td>
                              <td style='padding: 0.25em;'>
                                 <input id='email' style='width: 16em' type="text">
                              </td>
                           </tr>
                           <tr>
                              <td style='padding: 0.25em'>
                                 <div class='text-regular'>Password</div>
                              </td>
                              <td style='padding: 0.25em'>
                                 <input id='pw' style='width: 16em' type="password">
                              </td>
                           </tr>
                           <tr>
                              <td>
                                 
                              </td>
                              <td style='float:right; margin-right: 0.5em'>
                                 <label class='text-regular'><input id='rememberLogin' type="checkbox" value="checked">Remember me</label>
                              </td>
                           </tr>
                        </table>
                        <table style='width: 100%; margin-top: 0.35em'>
                           <tr>
                              <td>
                                 <div class='button-common button-login-related' onclick='signup()'>Sign up</div>
                              </td>
                              <td>
                                 <div class='button-common button-login-related' onclick='tryLogin()'>Sign in</div>
                              </td>
                           </tr>
                        </table>
                     </div>
                  </div>
                  <div>
                     <!-- IF LOGGED IN -->
                     <div id='loggedIn' class='block-regular' style='padding: 0.25em' data-template data-if-logged>
                        <div class='text-regular' style='align: center;'>{{email}}</div>
                        <div class='button-common button-login-related' style='width: 12em; margin: 0.5em 2.0em' onclick='setEmail()'>Change E-mail</div>
                        <div class='button-common button-login-related' style='width: 12em; margin: 0.5em 2.0em' onclick='setPassword()'>Change password</div>
                        <div class='button-common button-login-related' style='width: 12em; margin: 0.5em 2.0em' onclick='logout ()'>Sign out</div>
                        <div id='admin-button' class='button-common button-login-related' style='width: 12em; margin: 0.5em 2.0em' onclick='adminPage()'>Admin controls</div>
                     </div>
                  </div>
               </div>
               <!--AUDIO LIST-->
               <div style='margin-top: 0.25em'>
                  <div id='audio-list' class='text-regular'>
                     <div style='margin-left: 7em'>Playlists</div>
                     <div class='button-common' style='margin-top: 0.5em' onclick='playlists.loadMostRecent()'>Most recent</div>
                     <div>
                        <div id='playlists-list' class='button-common' style='margin-top: 0.5em' data-template onclick='playlists.loadPlaylist("{{id}}")'>{{title}}</div>
                     </div>
                     <div id='create-playlist' class='button-common' style='margin-top: 1em' onclick='playlists.create()'>Create playlist</div>
                  </div>
               </div>
            </div>
         </div>
         </div>
      </div>
   </body>
</html>